body {
    background: #fff;
    min-width: 960px;
}

.card {
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
}

.card > .btn {
    margin-bottom:  0.5rem;
}

.content {
    margin-top: 0.5rem;
    width: 100%;
}

.content > .page-content {
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.cut-string {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}

.form-group > .alert {
    margin-top: 5px;
}

.full-width {
    width: 100%;
}

img.main-profile-photo {
    width: 192px;
    height: 192px;
    margin-bottom: 10px;
}

img.secondary-profile-photo {
    width: 160px;
    height: 160px;
    padding-bottom: 10px;
}

.md-rounded-profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

a.decor-none {
    text-decoration: none;
    color: #000;
}

.right {
    margin-left: 1rem;
}
