.friends-list {
    display: flex;
    flex-wrap: wrap;
}

.friends-list-item > a {
    text-align: center;
}

.page-content > .friends-list > .friends-list-item {
    max-width: 192px;
    margin: 8px;
}