.authentication-card {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.authentication-card > h2 {
    text-align: center
}

.user-authentication {
    display: flex;
    float: right;
    width: auto;
}
.user-authentication > a, .user-authentication > .btn {
    margin-right: 0.5rem;
}