{# Template "_script_utils_units.html" is required #}
{# Template "_script_utils_requests.html" is required #}
{# Template "_script_ui_option.html" is required #}
<script>
    function searchCourse(typeOfSearch, responseBlockId, labels, presentation='list') {
        let requestUrl = "/search-course";
        let data = {"type_of_search": typeOfSearch};
        data["title"] = document.getElementById("title").value;
        data["course_id"] = document.getElementById("course_id").value;
        data["request"] = document.getElementById("request").value;
        if (typeOfSearch == "simple" && !data["request"]) {
            return;
        }
        if (typeOfSearch == "advanced" && !data["title"] && !data["course_id"]) {
            return;
        }
        let emptyDataText = labels["NO_RESULT"];
        let requestErrText = labels["REQUEST_ERR"];
        let dataHandler = function(item) {
            item["titleText"] = item["title"];
            item["titleUrl"] = item["profile_url"];
            item["photoUrl"] = item["profile_photo_url"];
            item["options"] = [];
            return item;
        };
        let responseHandler = function(requestObj) {
            unitDataHandler(requestObj, responseBlockId, emptyDataText, requestErrText, dataHandler, true, presentation);
        };
        sendPostRequest(requestUrl, "Content-Type", "application/json", responseHandler, JSON.stringify(data));
    }
</script>