<script>
    function autoCollapseUserNavbar() {
        let w = document.documentElement.clientWidth;
        if ((w<1199) && $('.user-navbar').hasClass('opened')) {
            $('.user-navbar-item-label').css('visibility', 'hidden');
            $(".user-navbar").addClass("closed");
            $(".user-navbar").removeClass("opened");
        } else if ((w>=1199)&& $('.user-navbar').hasClass('closed')) {
            $('.user-navbar-item-label').css('visibility', 'visible');
            $(".user-navbar").addClass("opened");
            $(".user-navbar").removeClass("closed");
        }
    }

    function setUserPageHeight() {
        let h = $(".leopard-lms-navbar").outerHeight(true);
        $(".user-page").css("height", document.documentElement.clientHeight-h);
    }

    $(window).on('resize', function() {
        setUserPageHeight();
        autoCollapseUserNavbar();
    });
    $( document ).ready(function() {
        setUserPageHeight();
        autoCollapseUserNavbar();
    });
</script>