<style>
    .chats-list, .current-chat {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        min-width: inherit;
        max-width: inherit;
        min-height: inherit;
        max-height: inherit;
        width: 100%;
    }

    .chats-list-item {
        display: flex;
        padding: .3rem;
    }

    .chats-list-item.active {
        background-color: hsl(216deg 93% 94%);
    }

    .chats-list-item > .chat-title {
        max-width: 200px;
    }

    .choose-user-field {
        flex: 1 1 auto;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 5px;
    }

    .current-chat .current-chat-header {
        height: 2rem;
        display: flex;
    }

    .current-chat .current-chat-title {
        line-height: 1.4;
    }

    .current-chat > .modal-content, .chats-list > .modal-content {
        border-width: 2px;
    }

    .message {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
    }

    .message-block {
        padding: 0.5rem;
        border-radius: 10px;
        max-width: 80%;
    }

    .message-datetime {
        color: #aaa;
    }

    .message-header, .message-paragraph {
        margin-bottom: 0px;
    }

    .message-own {
        justify-content: flex-end;
    }

    .message-own > .message-block {
        background-color: hsl(216deg 93% 94%);
    }

    .message-own .message-header {
        text-align: right;
    }

    .message-own .message-paragraph {
        text-align: right;
    }

    .message-someone {
        justify-content: flex-start;
    }

    .message-someone > .message-block {
        border: 1px solid #aaa;
    }

    .message-someone > .message-block > .message-content {
        display: flex;
        justify-content: left;
    }

    .user-content > .main-content > .secondary-block {
        width: 280px;
        min-width: 280px;
    }

    .user-content > .main-content > .main-block {
        width: 606px;
        min-width: 606px;
    }
</style>