<style>
    .rounded-circle-1 {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }

    .rounded-circle-2 {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    .rounded-circle-3 {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
    }

    .rounded-circle-4 {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

    .rounded-circle-5 {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
    }

    .rounded-circle-6 {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
</style>