<style>
    body {
        background-color: #23272b;
        overflow-y: hidden;
        min-width: 990px;
    }

    #toggle-user-navbar-link {
        margin-left: .35rem;
        margin-right: .7rem;
        display: flex;
        align-items: center;
    }

    .btn-pill {
        margin-bottom: .5rem;
    }

    .btn-pill.focus, .btn-pill:focus {
        box-shadow: none;
    }

    .btn-pill:not(:disabled):not(.disabled).active:focus,
    .btn-pill:not(:disabled):not(.disabled):active:focus,
    .show>.btn-pill.dropdown-toggle:focus {
        box-shadow: none;
    }

    .card {
        width: 100%;
        padding: 12px;
        margin-bottom: .5rem;
        border: 2px solid #000;
        border-radius: .375rem;
    }

    .font-weight-600 {
        font-weight: 600;
    }

    .leopard-lms-brand {
        font-family: "Goldman", cursive;
        font-size: 1.8rem;
    }

    .leopard-lms-navbar {
        padding: 0rem .5rem;
    }

    .leopard-lms-navbar-links {
        display: flex;
    }

    .min-w-0 {
        min-width: 0!important;
    }

    .profile-photo-primary {
        width: 190px;
        height: 190px;
    }

    .rounded-circle-1, .rounded-circle-2, .rounded-circle-3,
    .rounded-circle-4, .rounded-circle-5, .rounded-circle-6 {
        border-radius: 50%;
    }

    .rounded-circle-1 {
        width: 2.5rem;
        height: 2.5rem;
    }

    .rounded-circle-2 {
        width: 3rem;
        height: 3rem;
    }

    .rounded-circle-3 {
        width: 3.5rem;
        height: 3.5rem;
    }

    .rounded-circle-4 {
        width: 4rem;
        height: 4rem;
    }

    .rounded-circle-5 {
        width: 4.5rem;
        height: 4.5rem;
    }

    .rounded-circle-6 {
        width: 5rem;
        height: 5rem;
    }

    .text-black-100 {
        color: #000!important;
    }

    .user-content {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-top-left-radius: .5rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .user-content > .main-content {
        display: flex;
        justify-content: center;
    }

    .user-content > .main-content > .secondary-block {
        margin-left: 6px;
        margin-right: 6px;
        margin-top: .5rem;
        width: 218px;
        min-width: 218px;
    }

    .user-content > .main-content > .main-block {
        margin-left: 6px;
        margin-right: 6px;
        margin-top: .5rem;
        width: 668px;
        min-width: 668px;
    }

    .user-name-brand {
        font-family: "Nunito", cursive;
        font-weight: 700;
    }

    .user-navbar {
        height: 100%;
        width: 64px;
        min-width: 64px;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .user-navbar > a {
        color: #000;
        text-decoration: none;
    }

    .user-navbar > a:hover {
        color: #333;
    }

    .user-navbar-item {
        width: 100%;
        height: 52px;
        margin-bottom: 8px;
        display: flex;
    }

    .user-navbar-item.last {
        margin-bottom: 48px;
    }

    .user-navbar-item-label {
        width: 100%;
        margin-left: 6px;
        margin-right: 6px;
        background-color: #fff;
        border-radius: 6px;
        font-family: 'Nunito', cursive;
        font-weight: 800;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
    }

    .user-navbar-item-pic {
        margin-left: 6px;
        min-width: 52px;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-navbar.opened {
        width: 240px;
        min-width: 240px;
    }

    .user-navbar::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .user-page {
        display: flex;
        height: 100vh;
    }
</style>