<style>
    body {
        background-color: #23272b;
        overflow-y: hidden;
        min-width: 990px;
    }

    #toggle-user-navbar-link {
        margin-left: .35rem;
        margin-right: .7rem;
        display: flex;
        align-items: center;
    }

    .card {
        width: 100%;
        padding: 12px;
        margin-bottom: .5rem;
        border: 2px solid #000;
        border-radius: .375rem;
    }

    .leopard-lms-brand {
        font-family: "Goldman", cursive;
        font-size: 1.8rem;
    }

    .leopard-lms-navbar {
        padding: 0rem .5rem;
    }

    .leopard-lms-navbar-links {
        display: flex;
    }

    .user-content {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-top-left-radius: .5rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .user-content > .main-content {
        display: flex;
        justify-content: center;
    }

    .user-content > .main-content > .secondary-block {
        margin-left: 6px;
        margin-right: 6px;
        margin-top: .5rem;
        width: 218px;
        min-width: 218px;
    }

    .user-content > .main-content > .main-block {
        margin-left: 6px;
        margin-right: 6px;
        margin-top: .5rem;
        width: 668px;
        min-width: 668px;
    }

    .user-name-brand {
        font-family: "Nunito", cursive;
        font-weight: 700;
    }

    .user-navbar {
        height: 100%;
        width: 64px;
        min-width: 64px;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .user-navbar > a {
        color: #000;
        text-decoration: none;
    }

    .user-navbar > a:hover {
        color: #333;
    }

    .user-navbar-item {
        width: 100%;
        height: 52px;
        margin-bottom: 8px;
        display: flex;
    }

    .user-navbar-item.last {
        margin-bottom: 48px;
    }

    .user-navbar-item-label {
        width: 100%;
        margin-left: 6px;
        margin-right: 6px;
        background-color: #fff;
        border-radius: 6px;
        font-family: 'Nunito', cursive;
        font-weight: 800;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
    }

    .user-navbar-item-pic {
        margin-left: 6px;
        min-width: 52px;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-navbar.opened {
        width: 240px;
        min-width: 240px;
    }

    .user-navbar::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .user-page {
        display: flex;
        height: 100vh;
    }
</style>