{% extends "workspace.html" %}

{% block container %}
  <style>
      input#submit{
          margin-left: auto;
          margin-right: auto;
          width: 50%
        }

        .h1, h1 {
          text-align: center;
        }

        .sign_up_block {
          margin-left: auto;
          margin-right: auto;
          margin-top: 50px;
          background-color: white;
          border-radius: 4px;
          width: 75%;
          padding: 30px;
        }
  </style>
  <div class="sign_up_block">
      <h1>Регистрация школы</h1>
        <form action="" method="post">
        {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title(class="form-control", placeholder="Полное наименование организации") }}<br>
                {% for error in form.title.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.director(class="form-control", placeholder="ID директора") }}<br>
                {% for error in form.director.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.address(class="form-control", placeholder="Почтовый адрес") }}<br>
                {% for error in form.address.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email(class="form-control", type="email", placeholder="E-mail") }}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <p>Тел.:</p>
                {{ form.phone(class="form-control", type="tel") }}<br>
                {% for error in form.phone.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div>{{ form.submit(type="submit", class="btn btn-secondary") }}</div>
            <div style="font-color: red">{{ message }}</div>
      </form>
    </div>
{% endblock %}
