{% extends "workspace.html" %}

{% block container %}
  <style>
      input#submit{
          margin-left: auto;
          margin-right: auto;
          width: 50%
        }

        .h1, h1 {
          text-align: center;
        }

        .sign_up_block {
          margin-left: auto;
          margin-right: auto;
          margin-top: 50px;
          background-color: white;
          border-radius: 4px;
          width: 75%;
          padding: 30px;
        }
  </style>
  <div class="sign_up_block">
      <h1>Создание Класса</h1>
        <form action="" method="post">
        {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title(class="form-control", placeholder="Название/(номер, литера)") }}<br>
                {% for error in form.title.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.leader(class="form-control", placeholder="ID руководителя") }}<br>
                {% for error in form.leader.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div>{{ form.submit(type="submit", class="btn btn-secondary") }}</div>
            <div style="font-color: red">{{ message }}</div>
      </form>
    </div>
{% endblock %}
