{% extends "workspace.html" %}

{% block container %}
  <style>
      .page {
        margin-top: 24px;
        display: flex;
        justify-content: left;
      }

      .info-block {
        display: flex;
        justify-content: left;
        margin-bottom: 16px;
      }

      .left {
        width: 100%;
      }

      .right {
        margin-left: 30px;
      }
  </style>
  <div class="page-block" style="margin-bottom: 36px">
      <div style="display: flex; justify-content: center">
          <h2>Пользователи</h2>
      </div>
  </div>
  <nav aria-label="Page navigation">
      {% set n = [0, 1, 2, 3, 4] %}
      <ul class="pagination justify-content-center">
          {% if current_page - 1 > 0 %}
              <li class="page-item"><a class="page-link" href="/users-page-{{current_page-1}}"><span aria-hidden="true">&laquo;</span></a></li>
          {% endif %}
          {% for i in n %}
          {% if current_page + i <= n_pages %}
              <li class="page-item"><a class="page-link" href="/users-page-{{current_page+i}}">{{current_page+i}}</a></li>
          {% endif %}
          {% endfor %}
          {% if current_page + 1 <= n_pages %}
              <li class="page-item"><a class="page-link" href="/users-page-{{current_page+1}}"><span aria-hidden="true">&raquo;</span></a></li>
          {% endif %}
      </ul>
  </nav>
  <div class="page">
      <div class="left">
          {% for item in data %}
            <div class="page-block info-block" style="padding: 12px">
                {% if item.photo_url != None %}
                  <img src="{{item.photo_url}}" width="64" height="64">
                {% else %}
                  <img src="/static/img/user-photo.png" width="64" height="64">
                {% endif %}
                <div style="margin-left: 20px">
                    <h3>
                        <a href="/id-{{item.id}}" id="id{{item.id}}" style="text-decoration: none; color: #000">
                            {{ item.last_name }} {{ item.first_name }}
                            {% if item.patronymic != None %}{{ item.patronymic }}{% endif %}
                        </a>
                    </h3>
                </div>
            </div>
          {% endfor %}
      </div>
      {% if current_user.status < 3 %}
        <div class="right page-block" style="padding-bottom: 10px; align-self: flex-start">
          {% if current_user.status < 2 %}
            <a class="btn btn-success" href="/add-admin" style="font-size: 20px; margin-left: auto; margin-bottom: 10px">
                Добавить Администратора +
            </a>
          {% endif %}
          {% if current_user.status < 3 %}
            <a class="btn btn-success" href="/add-director" style="font-size: 20px; margin-left: auto; margin-bottom: 10px">
                Добавить Директора +
            </a>
          {% endif %}
        </div>
      {% endif %}
  </div>
  <nav aria-label="Page navigation">
      {% set n = [0, 1, 2, 3, 4] %}
      <ul class="pagination justify-content-center">
          {% if current_page - 1 > 0 %}
              <li class="page-item"><a class="page-link" href="/users-page-{{current_page-1}}"><span aria-hidden="true">&laquo;</span></a></li>
          {% endif %}
          {% for i in n %}
          {% if current_page + i <= n_pages %}
              <li class="page-item"><a class="page-link" href="/users-page-{{current_page+i}}">{{current_page+i}}</a></li>
          {% endif %}
          {% endfor %}
          {% if current_page + 1 <= n_pages %}
              <li class="page-item"><a class="page-link" href="/users-page-{{current_page+1}}"><span aria-hidden="true">&raquo;</span></a></li>
          {% endif %}
      </ul>
  </nav>
{% endblock %}