{% extends "workspace.html" %}

{% block container %}
  <style>
      .page {
        margin-top: 24px;
        display: flex;
        justify-content: left;
      }

      .info-block {
        display: flex;
        justify-content: left;
        margin-bottom: 16px;
      }

      .left {
        width: 100%;
      }

      .right {
        width: 240px;
        margin-left: 30px;
      }

      .add-school {
        font-size: 20px;
        margin-left: auto;
      }
  </style>
  <div class="page-block page-header">
      <div style="display: flex; justify-content: center">
          <h2>Школы</h2>
          {% if current_user.status < 3 %}
            <a class="btn btn-success add-school" href="/add-school" id="add-school">Добавить школу +</a>
          {% endif %}
      </div>
  </div>
  <div class="page">
      <div class="left">
          {% if n_pages > 1 %}
          <nav aria-label="Page navigation">
            {% set n = [0, 1, 2, 3, 4] %}
            <ul class="pagination justify-content-center">
                {% if current_page - 1 > 0 %}
                    <li class="page-item"><a class="page-link" href="/schools-page-{{current_page-1}}"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}
                {% for i in n %}
                {% if current_page + i <= n_pages %}
                    <li class="page-item"><a class="page-link" href="/schools-page-{{current_page+i}}">{{current_page+i}}</a></li>
                {% endif %}
                {% endfor %}
                {% if current_page + 1 <= n_pages %}
                    <li class="page-item"><a class="page-link" href="/schools-page-{{current_page+1}}"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
          </nav>
          {% endif %}
          {% for item in schools %}
            <div class="page-block info-block" style="padding: 12px">
                {% if item[0].photo_url != None %}
                  <img src="{{item[0].photo_url}}" width="64" height="64">
                {% else %}
                  <img src="/static/img/school-photo.png" width="64" height="64">
                {% endif %}
                <div style="margin-left: 20px">
                    <h4>
                        <a href="/school-{{item[0].id}}" id="sch{{item[0].id}}" style="text-decoration: none; color: #1a237e">
                            {{ item[0].short_title }}
                        </a>
                    </h4>
                    <h5>Директор:
                        <a href="/id-{{item[0].director}}" id="id{{item[0].director}}" style="text-decoration: none; color: #1a237e">
                            {{ item[1].last_name }} {{ item[1].first_name }}
                            {% if item[1].patronymic != None %}{{ item[1].patronymic }}{% endif %}
                        </a>
                    </h5>
                </div>
            </div>
          {% endfor %}
          {% if n_pages > 1 %}
          <nav aria-label="Page navigation">
            {% set n = [0, 1, 2, 3, 4] %}
            <ul class="pagination justify-content-center">
                {% if current_page - 1 > 0 %}
                    <li class="page-item"><a class="page-link" href="/schools-page-{{current_page-1}}"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}
                {% for i in n %}
                {% if current_page + i <= n_pages %}
                    <li class="page-item"><a class="page-link" href="/schools-page-{{current_page+i}}">{{current_page+i}}</a></li>
                {% endif %}
                {% endfor %}
                {% if current_page + 1 <= n_pages %}
                    <li class="page-item"><a class="page-link" href="/schools-page-{{current_page+1}}"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
          </nav>
          {% endif %}
      </div>
      <div class="right">

      </div>
  </div>
{% endblock %}