{% extends "workspace.html" %}

{% block container %}
    <style>
        .chat-area {
          overflow-y: scroll;
          border-radius: 0px;
          margin-bottom: 0px;
          box-shadow: none;
        }

        .page {
          margin-top: 24px;
          display: flex;
          justify-content: center;
        }

        .left {
          align-self: flex-start;
        }

        .right {
          width: 100%;
          align-self: flex-start;
          margin-left: 24px;
        }

        .message {
          margin: 25px 10px 0px 10px;
          display: flex;
          justify-content: left;
        }

        .chat-name {
          background-color: #f1f1f1;
          text-align: center;
          border-radius: 5px 5px 0px 0px;
          padding: 10px;
        }

        .message-input-area {
          border-radius: 0px 0px 5px 5px;
          padding: 10px;
          background-color: #eee;
          box-shadow: none;
        }

        p {
          margin-bottom: 2px;
        }

        .info-block {
          display: flex;
          justify-content: left;
          margin-bottom: 2px;
          padding: 0px;
          border-radius: 4px;
          min-width: 320px;
        }

        .chats-list {
          overflow-y: scroll;
          padding: 5px;
          border-radius: 0px 0px 5px 5px;
        }

        .chat-active {
          background-color: rgba(119, 136, 153, 0.2)
        }
    </style>
    <div class="page">
        <div class="left">
            <div class="chat-name">
                <h5><a href="/chats" style="color: #000; text-decoration: none">Чаты</a></h5>
            </div>
            <div class="page-block chats-list">
                <div data-spy="scroll" data-offset="0" id="chats-scroll-block">
                    {% for chat in chats %}
                    <a style="text-decoration: none; color: #000" href="/chat-{{chat[0].id}}">
                          <div class="info-block border {% if chat[0].id == chat_id %}chat-active{% endif %}" style="padding: 12px">
                        {% if chat[3] != None %}
                            <img src="{{chat[3]}}" width="60" height="60">
                        {% else %}
                            <img src="/static/img/chat-photo.png" width="60" height="60">
                        {% endif %}
                        <div style="margin-left: 20px">
                            <h5>{{ chat[1] }}</h5>
                            <p>{{ chat[2] }}</p>
                        </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="n_messages" hidden></div>
        <div class="right">
            <div class="chat-main-block" id="chat-main-block">
                <div class="chat-name">
                    <h5>{{ chat_name }}</h5>
                </div>
                <div class="page-block chat-area">
                    <div data-spy="scroll" data-offset="0" id="scroll-block">
                        <div id="chat_area">

                        </div>
                    </div>
                </div>
                <div class="page-block message-input-area">
                    <form action="" method="post" id="name-form" autocomplete=off>
                        {{ form.hidden_tag() }}
                        <div style="display: flex; justify-content: center">
                            <div style="width: 100%; margin-right: 10px">
                                {{ form.message(class="form-control") }}
                                {% for error in form.message.errors %}
                                  <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div>{{ form.submit(type="submit", class="btn btn-dark my-2 my-sm-0", onclick="send()") }}</div>
                        </div>
                    </form>
                    <script>
                        document.getElementById("message").value = '';
                        document.querySelector('#name-form').addEventListener('submit', function (e) {e.preventDefault();
                        })
                    </script>
                    <script>
                        function send() {
                        var xhr = new XMLHttpRequest();
                        var data = {message: document.getElementById("message").value, chat: {{chat_id}}};
                        xhr.open('POST', '/chat-form', true);
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.send(JSON.stringify(data));
                        document.getElementById("message").value = '';
                        }

                        function delete_message(m_id) {
                          var z = new XMLHttpRequest();
                          z.open("DELETE", "/del-message-" + m_id, true);
                          z.send(null);
                        }

                        function update() {
                          var x = new XMLHttpRequest();
                          var y = new XMLHttpRequest();
                          y.open("GET", "/get-all-messages-chat-{{chat_id}}-0", true);
                          y.onload = function() {
                          if (document.getElementById('n_messages').innerHTML != y.responseText)
                          {x.open("GET", "/get-all-messages-chat-{{chat_id}}-1", true);
                           x.onload = function (){
                           document.getElementById('chat_area').innerHTML = x.responseText;
                           document.getElementById('n_messages').innerHTML = y.responseText;}
                           x.send(null);
                          }
                          }
                          y.send(null);
                        }
                        setInterval("update()", 1000);
                    </script>
                    <script>
                        // функция узнает размер окна браузера, и задает её для блока div
                        function fullHeight(){
                            $('.chat-area').css({
                                    height: $(window).height() * 0.7 + 'px'
                                        });
                            $('.chats-list').css({
                              height: $(window).height() * 0.7 + 'px'
                            });
                            }
                            // задаем высоту при первичной загрузке
                            fullHeight();
                            // высота при изменении размера окна браузера
                            $(window).resize( fullHeight );
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}