{% extends "courses.html" %}

{% block title %}
    Мои курсы | {{ current_user.first_name }} {{ current_user.last_name }}
{% endblock %}

{% block styles %}
    {% include "_style_workspace.html" %}
{% endblock %}

{% block main_block %}
    <ul class="nav nav-pills mb-2 nav-justified" id="my-courses-tab" role="tablist">
        <li class="nav-item mr-1" role="presentation">
            <a class="btn btn-outline-dark btn-pill btn-block active" id="all-courses-tab" data-toggle="pill" href="#all-courses" role="tab" aria-controls="all-courses" aria-selected="true">
                Все курсы
            </a>
        </li>
        <li class="nav-item ml-1 mr-1" role="presentation">
            <a class="btn btn-outline-dark btn-pill btn-block " id="learning-tab" data-toggle="pill" href="#learning" role="tab" aria-controls="learning" aria-selected="false">
                Обучение
            </a>
        </li>
        <li class="nav-item ml-1 mr-1" role="presentation">
            <a class="btn btn-outline-dark btn-pill btn-block " id="teaching-tab" data-toggle="pill" href="#teaching" role="tab" aria-controls="teaching" aria-selected="false">
                Преподавание
            </a>
        </li>
        <li class="nav-item ml-1" role="presentation">
            <a class="btn btn-outline-dark btn-pill btn-block " id="create-course-tab" data-toggle="pill" href="#create-course" role="tab" aria-controls="create-course" aria-selected="false">
                Создать курс
            </a>
        </li>
    </ul>

    <div class="tab-content" id="my-courses">
        <div class="tab-pane fade show active" id="all-courses" role="tabpanel" aria-labelledby="all-courses-tab"></div>
        <div class="tab-pane fade" id="learning" role="tabpanel" aria-labelledby="learning-tab"></div>
        <div class="tab-pane fade" id="teaching" role="tabpanel" aria-labelledby="teaching-tab"></div>
        <div class="tab-pane fade" id="create-course" role="tabpanel" aria-labelledby="create-course-tab">
            <div class="card">
                <h4 class="text-center">Создание курса</h4>
                <form action="{{url_for('user_courses', user_id=current_user.id)}}" autocomplete=off method="post">
                    {{ create_course_form.hidden_tag() }}
                    <div class="form-group">
                        {{create_course_form.title.label(class="col-form-label")}}
                        {{create_course_form.title(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{create_course_form.description.label(class="col-form-label")}}
                        {{create_course_form.description(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{create_course_form.course_type.label(class="col-form-label")}}
                        {{create_course_form.course_type(class="form-control")}}
                    </div>
                    <div class="submit-block">
                        {{create_course_form.submit(type="submit", class="btn btn-secondary")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include "_script_workspace.html" %}
    {% include "_script_ui_card.html" %}
    {% include "_script_ui_option.html" %}
    {% include "_script_utils_requests.html" %}
    {% include "_script_utils_units.html" %}
    {% include "_script_utils_units_user.html" %}
    <script>
        const CURRENT_USER_ID = {{current_user.id}};
        const LABELS = {"CLOSED_COURSE": "Закрытый курс",
                        "NO_COURSES": "Вы не записаны ни на одном курсе",
                        "NO_COURSES_LEARNING": "Вы не обучаетесь ни на одном курсе",
                        "NO_COURSES_TEACHING": "Вы не являетесь преподавателем или администратором какого-либо курса",
                        "OPENED_COURSE": "Открытый курс",
                        "REQUEST_ERR": "Ошибка при отправке запроса"};
    </script>
    <script>
        $( document ).ready(function () {
            userGetCourses(CURRENT_USER_ID, "all", "all-courses", LABELS);
            userGetCourses(CURRENT_USER_ID, "user", "learning", LABELS);
            userGetCourses(CURRENT_USER_ID, "admin|moderator", "teaching", LABELS);
        })
    </script>
{% endblock %}