{% extends "school_objects.html" %}

{% block page %}
    <style>
      .right {
        min-width: 240px;
      }

      .course-menu-btn {
         font-size: 20px;
         margin-left: auto;
         margin-bottom: 10px;
         width: 100%;
       }

       .lesson-operations {
         margin-left: auto;
         margin-right: 20px;
         align-self: center;
         min-width: 160px;
         text-align: right;
       }
    </style>
    <div class="page-block page-header">
        <h2 style="text-align: center">{{course.title}}</h2>
    </div>
    <div class="page">
        <div class="left">
        {% for i in lessons %}
              <div class="page-block" style="display: flex; justify-content: center; margin-bottom: 16px">
                  <h3>
                      <a href="/lesson-{{i.id}}-theory" style="text-decoration: none; color: #000">
                          Урок {{ i.lesson_number }}. {{ i.title }}
                      </a>
                  </h3>
                  <div class="lesson-operations">
                      {% if not i.opened %}
                      <a class="btn btn-info" href="/lesson-{{i.id}}-open">
                          Открыть
                      </a>
                      {% endif %}
                      {% if rights %}
                      <a class="btn btn-danger" href="/del-lesson-{{i.id}}">
                          Удалить
                      </a>
                      {% endif %}
                  </div>
              </div>
        {% endfor %}
        </div>
        {% if rights %}
        <div class="right page-block" style="padding-bottom: 10px; align-self: flex-start">
            {% if right_to_delete %}
            <a class="btn btn-danger course-menu-btn" href="/del-course-{{course.id}}">
                Удалить курс
            </a>
            {% endif %}
            <a class="btn btn-success course-menu-btn" href="/course-{{course.id}}-add-lesson">
                Добавить урок +
            </a>
        </div>
        {% endif %}
    </div>

{% endblock %}
