{% extends "workspace.html" %}

{% block container %}
  <style>
        .submit-block {
          margin-left: auto;
          margin-right: auto;
          margin-top: 5px;
          width: 100%;
          text-align: center;
        }

        input#submit {
          width: 50%;
        }

        .h1, h1 {
          text-align: center;
        }

        .sign_up_block {
          margin-left: auto;
          margin-right: auto;
          margin-top: 24px;
          width: 75%;
        }
        .photo-data {
          display: flex;
          justify-content: center;
        }
  </style>
  <div class="page-block sign_up_block">
      <h1>Настройки</h1>
      {% if message %}<div class="alert alert-danger">{{ message }}</div>{% endif %}
        <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
                <div class="other-fields form-row">
                    <div class="form-group col-md-4">
                        {{ form.last_name.label }}
                        {{ form.last_name(class="form-control", value=user.last_name) }}<br>
                        {% for error in form.last_name.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.first_name.label }}
                        {{ form.first_name(class="form-control", value=user.first_name) }}<br>
                        {% for error in form.first_name.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.patronymic.label }}
                        {% if user.patronymic %}
                          {{ form.patronymic(class="form-control", value=user.patronymic) }}
                        {% else %}
                          {{ form.patronymic(class="form-control") }}
                        {% endif %}
                        <br>
                        {% for error in form.patronymic.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="photo-data">
                    {% if user.photo_url != None %}
                      <img src="{{user.photo_url}}" width="200" height="200" class="user-photo" id="user-photo">
                    {% else %}
                      <img src="/static/img/user-photo.png" width="200" height="200" class="user-photo" id="user-photo">
                    {% endif %}
                    <div class="photo-fields" style="width: 100%; margin-left: 30px;">
                        <div class="form-group">
                          {{ form.url.label }}
                          {{ form.url(class="form-control") }}<br>
                          {% for error in form.url.errors %}
                              <div class="alert alert-danger" role="alert">{{ error }}</div>
                          {% endfor %}
                        </div>
                        <div class="custom-file">
                          {{ form.photo.label }}<br>
                          {{ form.photo(type="file", onchange="f()") }}<br>
                          <small id="passwordHelpBlock" class="form-text text-muted">
                              Выбирайте изображение в форматах JPG, PNG, BMP. Рекомендуемое соотношение сторон: 1:1
                          </small>
                          {% for error in form.photo.errors %}
                              <div class="alert alert-danger" role="alert">{{ error }}</div>
                          {% endfor %}
                        </div>
                    </div>
                </div><hr>
            <div class="submit-block"><a href="/change-password">Изменить пароль</a></div>
            <div class="submit-block">{{ form.submit(type="submit", class="btn btn-success") }}</div>
            <script>
                function f() {
                     var field = document.getElementById('photo');
                     Array.prototype.forEach.call(field.files, function(file) {
                       var reader = new FileReader();
                       reader.addEventListener("load", function() {
                         var dataUri = event.target.result;
                         document.getElementById('user-photo').src = dataUri;
                       });
                       reader.readAsDataURL(file);

                     });
                }
            </script>
      </form>
    </div>
{% endblock %}
