{% extends "friends.html" %}

{% block title %}
    Мои друзья | {{ current_user.first_name }} {{ current_user.last_name }}
{% endblock %}

{% block styles %}
    {% include "_style_workspace.html" %}
{% endblock %}

{% block main_block %}
    <div id="friends-list"></div>
{% endblock %}

{% block scripts %}
    {% include "_script_workspace.html" %}
    {% include "_script_ui_card.html" %}
    {% include "_script_ui_option.html" %}
    {% include "_script_utils_requests.html" %}
    {% include "_script_utils_units.html" %}
    {% include "_script_utils_units_user.html" %}
    <script>
        const CURRENT_USER_ID = {{current_user.id}};
        const LABELS = {"DELETE_FROM_FRIENDS": "Удалить из друзей",
                        "NO_FRIENDS": "Вы ещё никого не добавили в друзья",
                        "REQUEST_ERR": "Ошибка при отправке запроса"};
    </script>
    <script>
        $( document ).ready(function () {
            userGetFriends(CURRENT_USER_ID, "friends-list", LABELS);
        })
    </script>
{% endblock %}