{% extends "workspace.html" %}

{% block secondary_block %}
    <div class="card">
        <a class="btn btn-outline-dark mb-2 text-nowrap" href="{{url_for('friends', selector='my_friends')}}">
            Мои друзья
        </a>
        <a class="btn btn-outline-dark mb-2 text-nowrap" href="{{url_for('friends', selector='notifications')}}">
            Заявки в друзья
        </a>
        <a class="btn btn-outline-dark text-nowrap" href="{{url_for('friends', selector='search')}}">
            Найти друзей
        </a>
    </div>
{% endblock %}

{% block main_block %}
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}