{% extends "groups.html" %}

{% block title %}
    Мои группы | {{ current_user.first_name }} {{ current_user.last_name }}
{% endblock %}

{% block styles %}
    {% include "_style_workspace.html" %}
{% endblock %}

{% block main_block %}
    <ul class="nav nav-pills mb-2 nav-justified" id="my-groups-tab" role="tablist">
        <li class="nav-item mr-1" role="presentation">
            <a class="btn btn-outline-dark btn-pill btn-block active" id="all-groups-tab" data-toggle="pill" href="#all-groups" role="tab" aria-controls="all-groups" aria-selected="true">
                Все группы
            </a>
        </li>
        <li class="nav-item ml-1 mr-1" role="presentation">
            <a class="btn btn-outline-dark btn-pill btn-block " id="groups-controlled-tab" data-toggle="pill" href="#groups-controlled" role="tab" aria-controls="groups-controlled" aria-selected="false">
                Контроль
            </a>
        </li>
        <li class="nav-item ml-1" role="presentation">
            <a class="btn btn-outline-dark btn-pill btn-block " id="create-group-tab" data-toggle="pill" href="#create-group" role="tab" aria-controls="create-group" aria-selected="false">
                Создать группу
            </a>
        </li>
    </ul>

    <div class="tab-content" id="my-groups">
        <div class="tab-pane fade show active" id="all-groups" role="tabpanel" aria-labelledby="all-groups-tab"></div>
        <div class="tab-pane fade" id="groups-controlled" role="tabpanel" aria-labelledby="groups-controlled-tab"></div>
        <div class="tab-pane fade" id="create-group" role="tabpanel" aria-labelledby="create-group-tab">
            <div class="card">
                <h4 class="text-center">Создание группы</h4>
                <form action="{{url_for('user_groups', user_id=current_user.id)}}" autocomplete=off method="post">
                    {{ create_group_form.hidden_tag() }}
                    <div class="form-group">
                        {{create_group_form.title.label(class="col-form-label")}}
                        {{create_group_form.title(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{create_group_form.description.label(class="col-form-label")}}
                        {{create_group_form.description(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{create_group_form.group_type.label(class="col-form-label")}}
                        {{create_group_form.group_type(class="form-control")}}
                    </div>
                    <div class="submit-block">
                        {{create_group_form.submit(type="submit", class="btn btn-secondary")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include "_script_workspace.html" %}
    {% include "_script_ui_card.html" %}
    {% include "_script_ui_option.html" %}
    {% include "_script_utils_requests.html" %}
    {% include "_script_utils_units.html" %}
    {% include "_script_utils_units_user.html" %}
    <script>
        const CURRENT_USER_ID = {{current_user.id}};
        const LABELS = {"CLOSED_GROUP": "Закрытая группа",
                        "NO_GROUPS": "Вы не состоите ни в одной группе",
                        "NO_GROUPS_CONTROLLED": "Вы не являетесь администратором какой-либо группы",
                        "OPENED_GROUP": "Открытая группа",
                        "REQUEST_ERR": "Ошибка при отправке запроса"};
    </script>
    <script>
        $( document ).ready(function () {
            userGetGroups(CURRENT_USER_ID, "all", "all-groups", LABELS);
            userGetGroups(CURRENT_USER_ID, "admin", "groups-controlled", LABELS);
        })
    </script>
{% endblock %}
