{% extends "workspace.html" %}

{% block container %}
    <style>
      .page {
        margin-top: 24px;
        display: flex;
        justify-content: left;
      }

      .info-block {
        display: flex;
        justify-content: left;
        margin-bottom: 16px;
      }

      .left {
        width: 100%;
      }

      .right {
        margin-left: 30px;
        width: 100%;
      }
    </style>
    <div class="page-block" style="margin-bottom: 40px">
        <h2>Урок {{lesson.lesson_number}}. {{lesson.title}}</h2>
    </div>
    <div class="page">
        <div class="left">
            <div class="page-block">
                <div style="display: flex; justify-content: left; margin-bottom: 15px">
                    <a data-toggle="collapse" href="#theory" role="button" aria-expanded="false" aria-controls="theory" style="color: #000">
                        <h3>Теория</h3>
                    </a>
                    {% if right_of_edit %}
                      <a href="/lesson-{{lesson.id}}-add-theory" class="btn btn-success" style="margin-left: auto">Изменить теорию</a>
                    {% endif %}
                    </div>
                <div class="collapse" id="theory" style="font-size: 18px">

                </div>
            </div>
        </div>
        <div class="right">
            <div class="page-block">
                <div style="display: flex; justify-content: left; margin-bottom: 15px">
                    <a data-toggle="collapse" href="#task" role="button" aria-expanded="false" aria-controls="task" style="color: #000">
                        <h3>Задание</h3>
                    </a>
                    {% if right_of_edit %}
                      <a href="/lesson-{{lesson.id}}-add-task" class="btn btn-success" style="margin-left: auto">Изменить задание</a>
                    {% endif %}
                </div>

                <div class="collapse" id="task" style="font-size: 18px">

                </div>
            </div>
        </div>
    </div>
    <script>
        var y = new XMLHttpRequest();
        var x = new XMLHttpRequest();
        y.open("GET", "/lesson-{{lesson.id}}-get-theory", true);
        x.open("GET", "/lesson-{{lesson.id}}-get-task", true);
        y.onload = function() {document.getElementById('theory').innerHTML = y.responseText;};
        x.onload = function() {document.getElementById('task').innerHTML = x.responseText;};
        y.send(null);
        x.send(null);
    </script>
{% endblock %}
