{% extends "workspace.html" %}

{% block container %}
    <style>
      .page {
        margin-top: 24px;
        display: flex;
        justify-content: center;
      }

      .chat-area {
          overflow-y: scroll;
          border-radius: 0px;
          margin-bottom: 0px;
          box-shadow: none;
      }

      .message-input-area {
          border-radius: 0px 0px 5px 5px;
          padding: 10px;
          background-color: #eee;
          box-shadow: none;
      }

      .chat-name {
          background-color: #f1f1f1;
          text-align: center;
          border-radius: 5px 5px 0px 0px;
          padding: 10px;
      }

      .solution {
          margin: 25px 10px 0px 10px;
          display: flex;
          justify-content: left;
        }

      .left {
        width: 45%;
      }

      .right {
        margin-left: 30px;
        width: 45%
      }
    </style>
    <div class="page-block page-header" style="display: flex; justify-content: center">
        <h3>Урок {{lesson.lesson_number}}. {{lesson.title}}</h3>
        <div style="margin-left: auto">
            <a class="btn btn-info" href="/lesson-{{lesson.id}}-theory">Теория</a>
            <a class="btn btn-info" href="/lesson-{{lesson.id}}-task">Задание</a>
        </div>
    </div>
    <div class="page">
        <div class="left">
            <div id="n_messages" hidden></div>
            <div class="chat-main-block" id="chat-main-block">
                <div class="chat-name">
                    <h5>История решений</h5>
                </div>
                <div class="page-block chat-area">
                    <div data-spy="scroll" data-offset="0" id="scroll-block">
                        <div id="chat_area">

                        </div>
                    </div>
                </div>
                <div class="page-block message-input-area">
                    <form action="" method="post" id="send-form" autocomplete=off  enctype="multipart/form-data" novalidate>
                        {{ form.hidden_tag() }}
                        <div style="display: flex; justify-content: center">
                            <div style="width: 100%; margin-right: 10px">
                                {{ form.message(class="form-control") }}
                                {% for error in form.message.errors %}
                                  <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div>{{ form.submit(type="submit", class="btn btn-dark") }}</div>
                        </div>
                        <div class="custom-file" style="margin-top: 5px">
                            {{ form.doc(type="file") }}<br>
                            {% for error in form.doc.errors %}
                              <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </form>
                    <script>
                        document.getElementById("message").value = '';
                    </script>
                    <script>
                        function update() {
                          var x = new XMLHttpRequest();
                          var y = new XMLHttpRequest();
                          y.open("GET", "/get-all-solutions-lesson-{{lesson.id}}-0", true);
                          y.onload = function() {
                          if (document.getElementById('n_messages').innerHTML != y.responseText)
                          {x.open("GET", "/get-all-solutions-lesson-{{lesson.id}}-1", true);
                           x.onload = function (){
                           document.getElementById('chat_area').innerHTML = x.responseText;
                           document.getElementById('n_messages').innerHTML = y.responseText;}
                           x.send(null);
                          }
                          }
                          y.send(null);
                        }
                        setInterval("update()", 1000);
                    </script>
                    <script>
                        // функция узнает размер окна браузера, и задает её для блока div
                        function fullHeight(){
                            $('.chat-area').css({
                                    height: $(window).height() * 0.5 + 'px'
                                        });
                            }
                            // задаем высоту при первичной загрузке
                            fullHeight();
                            // высота при изменении размера окна браузера
                            $(window).resize( fullHeight );
                    </script>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="page-block">
                <div style="display: flex; justify-content: left; margin-bottom: 15px">
                    <h3>Задание</h3>
                    {% if right_of_edit %}
                      <a href="/lesson-{{lesson.id}}-add-task" class="btn btn-success" style="margin-left: auto">Изменить задание</a>
                    {% endif %}
                </div>

                <div id="task" style="font-size: 18px; word-wrap: break-word;">

                </div>
            </div>
            <div></div>
        </div>
    </div>
    <script>
        var x = new XMLHttpRequest();
        x.open("GET", "/lesson-{{lesson.id}}-get-task", true);
        x.onload = function() {document.getElementById('task').innerHTML = x.responseText;};
        x.send(null);
    </script>
{% endblock %}
