{% extends "workspace.html" %}

{% block title %}
    Мессенджер
{% endblock %}

{% block style %}
    {{ super() }}
    {% include "_style_messenger.html" %}
{% endblock %}

{% block secondary_block %}
<div class="modal-dialog modal-dialog-scrollable chats-list" style="height: 90vh">
    <div class="modal-content border-dark">
        <div class="modal-header border-dark p-2">
            <a class="text-decoration-none text-dark" href="{{url_for('messenger')}}">
                <h5 class="m-0">Чаты</h5>
            </a>
        </div>
        <div class="modal-body p-0">
            {% for item in chats %}
                <a href="{{url_for('messenger', chat=item.id)}}" class="text-decoration-none text-body">
                    {% if chat != None and chat.id == item.id %}
                        <div class="chats-list-item border-bottom active">
                            <img src="{{item.get_profile_photo_url(current_user)}}" class="rounded-circle-2">
                            <h6 class="chat-title text-truncate ml-1">{{item.get_title(current_user)}}</h6>
                        </div>
                    {% else %}
                        <div class="chats-list-item border-bottom">
                            <img src="{{item.get_profile_photo_url(current_user)}}" class="rounded-circle-2">
                            <h6 class="chat-title text-truncate ml-1">{{item.get_title(current_user)}}</h6>
                        </div>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        <div class="modal-footer border-dark"></div>
    </div>
</div>
{% endblock %}

{% block main_block %}
<div class="modal-dialog modal-dialog-scrollable current-chat" style="height: 90vh">
    <div class="modal-content border-dark">
        <div class="modal-header border-dark p-2">
            <div id="n_messages" hidden></div>
            {% block current_chat_name %}
                <div class="current-chat-header">
                    <h5 class="current-chat-title">Мессенджер</h5>
                </div>
            {% endblock %}
        </div>
        <div class="modal-body" id="messages-list">
            {% block messages_list %}
                <h4 class="text-center">Создание чата</h4>
                {% if current_user.get_friends(only_id=True)|length == 0 %}
                    Вы не можете добавить кого-либо в чат
                {% else %}
                    <h6>Добавить участников:</h6>
                {% endif %}
                {% for friend in current_user.get_friends() %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="{{friend.id}}">
                            </div>
                        </div>
                        <div class="choose-user-field border">
                            {{ friend.first_name }} {{ friend.last_name }}
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
        <div class="modal-footer border-dark p-2">
            {% block input_message %}
                <div class="d-flex w-100">
                    <input type="text" class="form-control mr-2" id="group-chat-title" autocomplete=off placeholder="Введите название беседы...">
                    <button type="button" class="btn btn-secondary" onclick="createGroupChat()">
                        Создать
                    </button>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
    function createGroupChat() {
        let xhr = new XMLHttpRequest();
        let users = "";
        let checked_users = document.querySelectorAll("input[type='checkbox']:checked");
        for (let i = 0; i < checked_users.length; i++) {
            users += checked_users[i].id + ";";
        }
        let data = {chat_title: document.getElementById("group-chat-title").value,
                    users_list: users,}
        xhr.open('POST', '{{url_for('create_group_chat')}}', true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function (){
            if (xhr.responseText) {
                window.location.href = "{{url_for('messenger')}}?chat=" + xhr.responseText;
            }
        }
        xhr.send(JSON.stringify(data));
    }
</script>
{% endblock %}