<div class="message message-someone" id="message-{{message_id}}">
    <div class="message-block">
        <div class="message-content">
            <img src="{{author_photo}}" class="md-rounded-profile-photo">
            <div class="message-text-block" style="margin-left: 15px">
                <h6 class="message-header">
                    <b>{{author_first_name}}</b>
                    <spin class="message-datetime">
                        {{day}}.{{month}}.{{year}} {{hour}}:{{minute}}
                    </spin>
                </h6>
                <p class="message-paragraph">{{text}}</p>
            </div>
        </div>
    </div>
</div>

