{% extends "messenger.html" %}

{% block current_chat_name %}
    <div class="current-chat-header">
        <a class="mr-2">
            {{ macros.bi_three_dots(width="2rem", height="2rem") }}
        </a>
        <h5 class="current-chat-title">{{chat_title}}</h5>
    </div>
{% endblock %}

{% block messages_list %}{% endblock %}

{% block input_message %}
    <form id="send-message-form" autocomplete=off class="w-100">
        {{ form.hidden_tag() }}
        <div class="d-flex w-100">
            <div class="w-100 mr-2">
                {{form.message(class="form-control")}}
            </div>
            <div>{{form.submit(type="submit", class="btn btn-dark my-2 my-sm-0", onclick="sendMessage()")}}</div>
        </div>
    </form>

{% endblock %}

{% block script %}
    {% include "_script_workspace.html" %}
    {% include "_script_chat.html" %}
{% endblock %}
