<div class="message message-own" id="message-{{message_id}}">
    <div class="message-block">
        <div class="message-content">
            <div class="message-text-block">
                <h6 class="message-header">
                    <spin class="message-datetime">
                        {{day}}.{{month}}.{{year}} {{hour}}:{{minute}}
                    </spin>
                </h6>
                <p class="message-paragraph">{{text}}</p>
            </div>
        </div>
    </div>
</div>
