{% extends "workspace.html" %}

{% block container %}
  <style>
      .top-profile {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        background-color: white;
        border-radius: 4px;
        width: 100%;
        padding: 20px;
      }

      .top-profile-content {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      .title {
        text-align: center;
      }

      .school-info {
        margin-left: 30px;
      }

      .top-links {
        display: flex;
      }
  </style>
  <div class="top-profile">
    <div class="top-profile-content">
        <img src="/static/img/school_icon.png" width="240" height="240">
        <div class="school-info">
            <div>
              <h5 class="title">{{ school.title }}</h5>
              <h5>Директор: <a href="/id" id="director_link">{{ director.last_name }} {{ director.first_name }}
                {% if director.patronymic != None %}{{ director.patronymic }}{% endif %}</a></h5>
              <h5>E-mail: {{ school.email }}</h5>
              <h5>Тел.: {{ school.phone }}</h5>
              <h5>Адрес: {{ school.index }}, {{ school.region}}, {{ school.city }},
                {{ school.street }}, {{ school.house }}</h5>
              <hr>
            </div>
            <div class="top-links">
                <h4>ID: {{ school.id }}</h4>
                <div class="btn-group" role="group" aria-label="Basic example" style="margin-left: auto">
                    <a class="btn btn-secondary" href="/classes" id="classes">Классы</a>
                    <a class="btn btn-secondary" href="/teachers" id="teachers">Преподаватели</a>
                    <a class="btn btn-secondary" href="/students" id="students">Учащиеся</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <script>
    document.getElementById('director_link').href = '/id' + {{ director.id }};
    document.getElementById('classes').href = '/classes' + {{ school.id }};
    document.getElementById('teachers').href = '/teachers' + {{ school.id }};
    document.getElementById('students').href = '/students' + {{ school.id }};
  </script>
{% endblock %}
