{% extends "school_objects.html" %}

{% block page %}
  <div class="page-block page-header">
      <h3><a style="text-decoration: none; color: #000" href="/school-{{sch.id}}">{{ sch.short_title }}</a></h3>
      <hr>
      <div style="display: flex; justify-content: center">
          <h2>Образовательные курсы</h2>
          {% if current_user.id == sch.director or current_user.status < 3 %}
            <a class="btn btn-success add-course" href="/school-{{sch.id}}-add-course" id="add-course">Добавить курс +</a>
          {% endif %}
      </div>
  </div>
  <div class="page courses">
      {% for i in data %}
        <a href="/course-{{i[0].id}}" style="text-decoration: none; color: #000; min-width: 45%">
            <div class="page-block" style="margin: 8px">
                <h3>{{ i[0].title }}</h3>
                <div>Учитель: {{ i[2].last_name }} {{ i[2].first_name }}
                    {% if i[2].patronymic != None %}{{ i[2].patronymic }}{% endif %}</div>
                <div>Класс: {{ i[1].title }}</div>
            </div>
        </a>
      {% endfor %}
  </div>
{% endblock %}
