{% extends "workspace.html" %}

{% block container %}
  <style>
      .page {
        margin-top: 24px;
        display: flex;
        justify-content: left;
      }

      .info-block {
        display: flex;
        justify-content: left;
        margin-bottom: 16px;
      }

      .left {
        width: 100%;
      }

      .right {
        width: 240px;
        margin-left: 30px;
      }

      .add-teacher {
        font-size: 20px;
        margin-left: auto;
      }
  </style>
  <div class="page-block" style="margin-bottom: 36px">
      <h3><a style="text-decoration: none; color: #000" href="/school-{{sch.id}}">{{ sch.short_title }}</a></h3>
      <hr>
      <div style="display: flex; justify-content: center">
          <h2>Преподаватели</h2>
          {% if current_user.id == sch.director or current_user.status < 3 %}
            <a class="btn btn-success add-teacher" href="/school-{{sch.id}}-add-teacher" id="add-teacher">
                Добавить преподавателя +
            </a>
          {% endif %}
      </div>
  </div>
  <div class="page">
      <div class="left">
          {% for item in data %}
            <div class="page-block info-block" style="padding: 12px">
                {% if item.photo_url != None %}
                  <img src="{{item.photo_url}}" width="64" height="64">
                {% else %}
                  <img src="/static/img/school-photo.png" width="64" height="64">
                {% endif %}
                <div style="margin-left: 20px">
                    <h4>
                        <a href="/id-{{item.id}}" id="id{{item.id}}" style="text-decoration: none; color: #1a237e">
                            {{ item.last_name }} {{ item.first_name }}
                            {% if item.patronymic != None %}{{ item.patronymic }}{% endif %}
                        </a>
                    </h4>
                    <h5>
                    </h5>
                </div>
            </div>
          {% endfor %}
      </div>
      <div class="right">

      </div>
  </div>
{% endblock %}
