{% extends "workspace.html" %}

{% block container %}
    <style>
        .page {
          margin-top: 24px;
          display: flex;
          justify-content: center;
        }

        .school-photo {
          border-radius: 4px;
        }

        .right {
          margin-left: 24px;
          width: 100%;
        }

        .btn-slate {
          background-color: #6c92af;
          border: 1px solid;
          border-color: #6c92af;
        }
    </style>
    <div class="page">
        <div class="left">
            <div class="page-block">
                <div>
                    {% if school.photo_url != None %}
                      <img src="{{school.photo_url}}" width="200" height="200" class="school-photo">
                    {% else %}
                      <img src="/static/img/school-photo.png" width="200" height="200" class="school-photo">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="right">
            <div class="page-block school-info">
                <h4 style="text-align: center">{{ school.title }}</h4>
                <hr>
                <div style="display: flex; justify-content: center">
                    <h5 style="align-self: center">ID {{ school.id }}</h5>
                    <div style="margin-left: auto">
                        {% if current_user.id == school.director or current_user.status < 3 %}
                          <a class="btn btn-dark btn-slate" href="/edit-school">Редактировать профиль</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-block" style="width: 100%">
        <h3>Контакты</h3>
        {% if director != None %}
          <h5>Директор:
              <a href="/id-{{director.id}}" id="director" style="text-decoration: none; color: gray">
                {{ director.last_name }} {{ director.first_name }}
                {% if director.patronymic != None %}{{ director.patronymic }}{% endif %}
              </a>
          </h5>
        {% endif %}
        <h5>E-mail: {{ school.email }}</h5>
        <h5>Тел.: {{ school.phone }}</h5>
        <h5>Адрес: {{ school.index }}, {{ school.region }}, {{ school.city }},
            {{ school.street }}, {{ school.house }}</h5>
    </div>
    <div style="display: flex; justify-content: center; height: 180px">
        <div class="page-block" style="width: 100%">
            <h2>Классы</h2>
            <h5><a href="/school-{{school.id}}-groups" id="groups">Перейти >>>></a></h5>
        </div>
        <div class="page-block" style="margin-left: 30px; margin-right: 30px; width: 100%">
            <h2>Преподаватели</h2>
            <h5><a href="/school-{{school.id}}-teachers" id="teachers">Перейти >>>></a></h5>
        </div>
        <div class="page-block" style="width: 100%">
            <h2>Учащиеся</h2>
            <h5><a href="/school-{{school.id}}-students" id="students">Перейти >>>></a></h5>
        </div>
    </div>
{% endblock %}
