{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="card authentication-card">
        <h2>Вход в LMS</h2>
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <form action="" method="post" autocomplete=off>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email(
                    class="form-control",
                    type="email",
                    placeholder="E-mail",
                    readonly=True,
                    onfocus="this.removeAttribute('readonly')")
                }}
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password(
                    class="form-control",
                    type="password",
                    placeholder="Пароль",
                    readonly=True,
                    onfocus="this.removeAttribute('readonly')")
                }}
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div>{{ form.submit(type="submit", class="btn btn-secondary btn-block") }}</div>
        </form>
    </div>
{% endblock %}