<div class="solution-block">
  <div class="solution" id="solution-{{data.id}}" style="margin: 0px;">
    <img src="{{photo}}" width="48" height="48" style="border-radius: 20px;" />
    <div style="margin-left: 15px;">
      <h6 style="margin-bottom: 0px;">
        <b>{{author}}</b>
        <spin style="color: #aaa;">
            {{date.day}}.{{date.month}}.{{date.year}}
                      {{date.hour}}:{{date.minute}}
        </spin>
      </h6>
      {% if data.url %}
      <a
        href="{{data.url}}"
        class="btn btn-secondary badge-pill"
        target="_blank"
        style="padding: 1px; min-width: 100px;"
      >
        ID {{data.id}}
      </a>
      {% endif %}
       {% if data.message %}
      <p>{{data.message}}</p>
      {% endif %}
    </div>
  </div>
</div>
