{% extends "workspace.html" %}

{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block styles %}
    {% include "_style_workspace.html" %}
{% endblock %}

{% block secondary_block %}
    <div class="card">
        <img src="{{user.get_profile_photo_url()}}" class="profile-photo-primary">
        {% if current_user.id != user.id %}
            {% if current_user.check_friend(user.id) %}
                <div class="btn btn-dark disabled btn-block mt-2">В друзьях</div>
            {% else %}
                {% if current_user.friendship_alert_exists(user.id) %}
                    <div class="btn btn-dark disabled btn-block mt-2">Заявка отправлена</div>
                {% elif user.friendship_alert_exists(current_user.id) %}
                    <a class="btn btn-dark btn-block text-white mt-2" onclick="addToFriends()">
                        Добавить в друзья
                    </a>
                {% else %}
                    <a class="btn btn-dark btn-block text-white mt-2" onclick="sendFriendshipAlert()">
                        Добавить в друзья
                    </a>
                {% endif %}
            {% endif %}
        {% else %}
            <a class="btn btn-dark btn-block mt-2" href="{{url_for('settings')}}">Редактировать</a>
        {% endif %}
    </div>
{% endblock %}

{% block main_block %}
    <div class="card">
        <h4>{{ user.first_name }} {{ user.last_name }}</h4>
        <div>Фамилия: {{ user.last_name }}</div>
        <div>Имя: {{ user.first_name }}</div>
        <div>E-mail: {{ user.email }}</div>
        <div>ID: {{ user.id }}</div>
    </div>
{% endblock %}

{% block scripts %}
    {% include "_script_workspace.html" %}
    <script>
        function addToFriends() {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '{{url_for("user_friends", user_id=current_user.id, friend_id=user.id)|safe}}', true);
            xhr.onload = function() {window.location.href=window.location.href}
            xhr.send(null);
        }

        function sendFriendshipAlert() {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '{{url_for("user_alerts", user_id=current_user.id, alert_type="application_friendship", friend_id=user.id)|safe}}', true);
            xhr.onload = function() {window.location.href=window.location.href}
            xhr.send(null);
        }
    </script>
{% endblock %}
