{% extends "workspace.html" %}

{% block container %}
    <style>
        .page {
          margin-top: 24px;
          display: flex;
          justify-content: center;
        }

        .user-photo {
          border-radius: 4px;
        }

        .under-user-photo {
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          font-size: 18px;
        }

        .right {
          margin-left: 24px;
          width: 100%;
        }

        .btn-slate {
          background-color: #6c92af;
          border: 1px solid;
          border-color: #6c92af;
        }
    </style>
    <div class="page">
        <div class="left">
            <div class="page-block">
                <div>
                    {% if user.photo_url != None %}
                      <img src="{{user.photo_url}}" width="200" height="200" class="user-photo">
                    {% else %}
                      <img src="/static/img/user-photo.png" width="200" height="200" class="user-photo">
                    {% endif %}
                </div>
                <div>
                    {% if current_user.id == user.id %}
                      <a class="btn btn-dark btn-slate under-user-photo" href="/edit-my-profile">Настройки</a>
                    {% else %}
                      <a class="btn btn-dark btn-slate under-user-photo" href="/write-message-{{user.id}}">Сообщение</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="right">
            <div class="page-block">
                <h3>{{ user.last_name }} {{ user.first_name }}
                    {% if user.patronymic != None %}{{ user.patronymic }}{% endif %}
                </h3>
                <hr>
                <h5>Статус: «{{ status }}»</h5>
                <h5>E-mail: {{ user.email }}</h5>
                <h5>{% if school != None %}Школа:
                      <a href="/school-{{user.school}}" style="text-decoration: none; color: gray" id="user-school">
                          {{ school.short_title }}
                      </a>
                    {% endif %}
                </h5>
                <h5>{% if group != None and user.status == 5 %}Класс:
                      <a href="/group-{{user.group}}"  style="text-decoration: none; color: gray" id="user-group">
                          {{ group.title }}
                      </a>
                    {% endif %}
                </h5>
                <hr>
                {% if right_to_delete %}
                <div style="display: flex; justify-content: center">
                    <h5>ID {{ user.id }}</h5>
                    <a class="btn btn-danger" href="/del-user-{{user.id}}" style="margin-left: auto">
                        Удалить пользователя
                    </a>
                </div>
                {% else %}
                <h5>ID {{ user.id }}</h5>
                {% endif %}
            </div>
            {% if current_user.id == user.id %}
            <div class="page-block">
                <h4>Уведомления</h4>
                {% if notifications %}
                  {% for item in notifications %}
                  <div class="alert alert-{{item.theme}} alert-dismissible fade show" role="alert" id="notify{{item.id}}">
                      {{item.text }}
                      <button type="button" class="close" onclick="close_notify('{{item.id}}')">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  {% endfor %}
                {% else %}
                <div style="text-align: center">Новых уведомлений нет</div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
  <script>
      function close_notify(notify) {
        $('#notify' + notify).alert('close');
        var delete_notify = new XMLHttpRequest();
        delete_notify.open("DELETE", "/del-notify-" + notify, true);
        delete_notify.send(null);
      }
  </script>
{% endblock %}
