{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block style %}
    {% include "_style_workspace.html" %}
    {% include "_style_shapes.html" %}
    {% include "_style_buttons.html" %}
{% endblock %}

{% block header %}
    <header class="navbar navbar-dark leopard-lms-navbar">
        <div class="leopard-lms-navbar-links">
            <a onclick="toggleUserNavbar()" id="toggle-user-navbar-link">
                {{ macros.bi_list(fill="#fff", width="2.5rem", height="2.5rem") }}
            </a>
            <a class="navbar-brand leopard-lms-brand" href="{{url_for('homepage')}}">
                Leopard
            </a>
        </div>
        <div class="user-authentication">
            <a class="navbar-brand user-name-brand" href="{{url_for('profile')}}">
                {{ current_user.first_name }}
            </a>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="user-page">
        <div class="user-navbar opened">
            <a href="{{url_for('profile')}}" title="Home">
                <div class="user-navbar-item">
                    <div class="user-navbar-item-pic">
                        {{ macros.bi_house_door_fill(width="2rem", height="2rem") }}
                    </div>
                    <div class="user-navbar-item-label">Профиль</div>
                </div>
            </a>
            <a href="{{url_for('friends')}}" title="Friends">
                <div class="user-navbar-item">
                    <div class="user-navbar-item-pic">
                        {{ macros.bi_person_check_fill(width="2rem", height="2rem") }}
                    </div>
                    <div class="user-navbar-item-label">Друзья</div>
                </div>
            </a>
            <a href="{{url_for('messenger')}}">
                <div class="user-navbar-item">
                    <div class="user-navbar-item-pic">
                        {{ macros.bi_chat_left_fill(width="2rem", height="2rem") }}
                    </div>
                    <div class="user-navbar-item-label">Мессенджер</div>
                </div>
            </a>
            <a href="{{url_for('groups')}}">
                <div class="user-navbar-item">
                    <div class="user-navbar-item-pic">
                        {{ macros.bi_people_fill(width="2rem", height="2rem") }}
                    </div>
                    <div class="user-navbar-item-label">Группы</div>
                </div>
            </a>
            <a href="{{url_for('courses')}}">
                <div class="user-navbar-item last">
                    <div class="user-navbar-item-pic">
                        {{ macros.bi_grid_fill(width="2rem", height="2rem") }}
                    </div>
                    <div class="user-navbar-item-label">Курсы</div>
                </div>
            </a>
            <a href="#">
                <div class="user-navbar-item">
                    <div class="user-navbar-item-pic">
                        {{ macros.bi_gear_fill(width="2rem", height="2rem") }}
                    </div>
                    <div class="user-navbar-item-label">Настройки</div>
                </div>
            </a>
        </div>
        <div class="user-content">
            <div class="main-content">
                <div class="secondary-block">
                    {% block secondary_block %}{% endblock %}
                </div>
                <div class="main-block">
                    {% block main_block %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% include "_script_workspace.html" %}
{% endblock %}