{% extends "base.html" %}

{% block authorisation_panel %}
    <a href="{{url_for('profile')}}" class="navbar-brand white-nav-link" style="font-size: 20px">
        {{ current_user.first_name }} {{ current_user.last_name }}
    </a>
    <a class="btn btn-outline-light" href="{{url_for('logout')}}">
        Выйти
    </a>

{% endblock %}

{% block content %}
<div class="user-navbar">
    <div class="btn-group user-navbar-buttons" role="group" aria-label="User navbar" id="user-navbar-buttons">
        <a class="btn btn-light" href="{{url_for('profile')}}">Профиль</a>
        <a class="btn btn-light" href="{{url_for('messenger')}}">Сообщения</a>
        <a class="btn btn-light" href="{{url_for('friends')}}">Друзья</a>
        <a class="btn btn-light" href="#">Сообщества</a>
        <a class="btn btn-light" href="#">Мой дневник</a>
        <a class="btn btn-light" href="#">Моя школа</a>
        <a class="btn btn-light" href="#">Мой класс</a>
        <a class="btn btn-light" href="#">Мои курсы</a>
    </div>
</div>
{% block page_content %}{% endblock %}
    <script>
        $(document).ready(function setPageContentMinWidth(){
            // Изменяем ширину контента в зависимости от ширины группы кнопок
            var w=$("#user-navbar-buttons").outerWidth();
            $("#page-content").css({"min-width":w});});
    </script>
{% endblock %}